%h1 Listing tipps

%table
  %tr
    %th User
    %th Game
    %th Tipp home
    %th Tipp visitor
    %th
    %th
    %th

  - @tipps.each do |tipp|
    %tr
      %td= tipp.user_id
      %td= tipp.game_id
      %td= tipp.tipp_home
      %td= tipp.tipp_visitor
      %td= link_to 'Show', tipp
      %td= link_to 'Edit', edit_tipp_path(tipp)
      %td= link_to 'Destroy', tipp, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tipp', new_tipp_path
