%h1 Rangliste

%table
  %tr
    %td= '#'
    %td User
    %td Punkte

  - @ranked_users.each_with_index do |user, i|
    %tr{ class: (current_user && current_user == user) ? 'me' : '' }
      %td= "#{i + 1}"
      %td= user.username
      %td= user.score
