%h1.text-center= "#{@user.username}'s finaltipp:"

.row.user-edit
  .columns.small-8.small-centered
    %p.text-center (editierbar bis vorrunde vorbei)

    = simple_form_for @user do |f|

      = f.input_field :winnawinna
      %br
      %br
      = f.submit 'die macheds!', class: 'button'

