%p.username= @user.username

%h2 Nächste Spiele

%table.text-center
  - @next_games.each do |game|
    %thead
      %tr
        %th{ colspan: 3 }= game.start_time.strftime('%d.%m - %H:%M Uhr')
    %tbody
      %tr
        %td= "#{game.team_home} : #{game.team_visitor}"
          
      - if tipp_for_game(current_user, game)
        %tr
          %td Dein Tipp:
        %tr
          %td= "#{tipp_for_game(current_user, game).tipp_home} : #{tipp_for_game(current_user, game).tipp_visitor}"
      - else
        %tr
          %td= link_to 'Tippen!', new_tipp_path(game: game)

%h2 Abgeschlossene Spiele

%table.text-center
  - @past_games.each do |game|
    %thead
      %tr
        %th{ colspan: 3 }= game.start_time.strftime('%d.%m - %H:%M Uhr')
    %tbody
      %tr
        %td= game.team_home
        %td :
        %td= game.team_visitor
      %tr
        %td= game.score_home
        %td :
        %td= game.score_visitor
      - if tipp_for_game(current_user, game)
        %tr
          %td{ colspan: 3 }= "Dein Tipp: (#{tipp_for_game(current_user, game).score} Punkte)"
        %tr
          %td= tipp_for_game(current_user, game).tipp_home
          %td :
          %td= tipp_for_game(current_user, game).tipp_visitor
