%h1 Welcome#index

- if current_user

  = link_to 'Rangliste', scoreboard_path
  = link_to 'Meine Tipps', user_path(current_user)
  
  = "logged in as: #{current_user.username}"
  = link_to 'logout', destroy_user_session_path, method: :delete
  = link_to 'edit profile', edit_user_path(current_user)

  %table
    %tr
      %td{ colspan: 3 }= @next_game.start_time
      %td
    %tr
      %td= @next_game.team_home
      %td :
      %td= @next_game.team_visitor
      %td
        - if tipp_for_game(current_user, @next_game)
          = "tipptopp getippt"
        - else
          = link_to 'do tha tipp', new_tipp_path(game: @next_game)
    - if tipp_for_game(current_user, @next_game)
      %tr
        %td{ colspan: 3 } Dein Tipp:
        %td
      %tr
        %td= tipp_for_game(current_user, @next_game).tipp_home
        %td :
        %td= tipp_for_game(current_user, @next_game).tipp_visitor
        %td

- else
  = link_to 'login', new_user_session_path
  = link_to 'sign up', new_user_registration_path

- if current_admin
  = current_admin.email
  = link_to 'logout', destroy_admin_session_path, method: :delete
