= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg

  .row
    .columns.small-2
      = f.label :team_home
    .columns.small-10
      = f.text_field :team_home
  .row
    .columns.small-2
      = f.label :team_visitor
    .columns.small-10
      = f.text_field :team_visitor
  .row
    .columns.small-2
      = f.label :score_home
    .columns.small-10
      = f.number_field :score_home
  .row
    .columns.small-2
      = f.label :score_visitor
    .columns.small-10
      = f.number_field :score_visitor
  .row
    .columns.small-2
      = f.label :start_time
    .columns.small-10
      = f.datetime_select :start_time
  .row
    .columns
      = f.submit 'Save', class: 'button'
