= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :team_home
    = f.text_field :team_home
  .field
    = f.label :team_visitor
    = f.text_field :team_visitor
  .field
    = f.label :score_home
    = f.number_field :score_home
  .field
    = f.label :score_visitor
    = f.number_field :score_visitor
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .actions
    = f.submit 'Save'
