%h1 Upcoming games

%table
  %tr
    %th Team home
    %th Team visitor
    %th Start time
    %th
    %th

  - @next_games.each do |game|
    %tr
      %td= game.team_home
      %td= game.team_visitor
      %td= game.start_time
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h1 Past games

%table
  %tr
    %th Team home
    %th Team visitor
    %th Score
    %th Start time
    %th
    %th
    %th

  - @past_games.each do |game|
    %tr
      %td= game.team_home
      %td= game.team_visitor
      %td= "#{game.score_home} : #{game.score_visitor}"
      %td= game.start_time
      %td
        - unless game.is_over
          = simple_form_for game do |f|
            = f.input :is_over, as: :hidden, input_html: { value: true }
            = f.input_field :score_home
            = ":"
            = f.input_field :score_visitor
            = f.submit


      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


= link_to 'New Game', new_game_path
